/* Estilos para pantallas de tablet */
@media (max-width: 768px) {
    header img {
        height: 80px;
        width: 80px;
        margin-top: 20px;
    }

    header nav ul {
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }

    .service-card {
        margin-bottom: 10px;
    }

    #testimonios img {
        width: 600px;
        height: 400px;
    }
}

/* Estilos para pantallas de móvil */
@media (max-width: 480px) {
    header img {
        height: 60px;
        width: 60px;
        margin-top: 15px;
    }

    header nav ul {
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
    }

    .service-card {
        margin-bottom: 5px;
    }

    #testimonios img {
        width: 300px;
        height: 200px;
    }
}
#inicio-section {
    background-image: url('images/inicioArtisania.png'); /* Reemplaza con la ruta a tu imagen */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; /* Esto hará que la sección tenga la altura de la ventana del navegador */
}
.inicio-content {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;

}
.inicio-content h2 {
    color: white; /* Cambia el color del texto a negro */
    font-size: 50px;
}
#about-us {
    padding: 50px 0;
    background-color: #EBF2FA;
}

#about-us img {
    max-width: 100%;
    height: auto;
    float: left;
    margin-top: 100px;
    margin-left: -100px;

}

#about-us h2 {
    font-size: 47px;
    font-weight: bold;
    margin-bottom: 15px;
}

#about-us p {
    font-size: 16px;
    line-height: 1.8;
    margin-right: 5px;
    text-align: justify;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1) sepia(1) saturate(5) hue-rotate(0deg);
}

#testimonios {
    text-align: center;
}

#testimonios img {
    width: 800px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
}

#testimonios p {
    font-size: 20px;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;

}
#testimonios h2 {
    color:black;
}

#testimonios p:last-child {
    font-size: 24px;
    font-weight: bold;
}

footer {
    background-color: #002C3E;
    padding: 20px 0;
    color: white;
}
footer ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

footer ul li {
    text-align: center;
}

footer ul li h4 {
    margin-bottom: 15px;
}

footer a {
    color: #3498db;
    text-decoration: none;
}
footer p {
    text-align: center;
    margin-top: 20px;
}
main {
    margin-top: 150px; /* Ajusta este valor según la altura de tu encabezado */
}
header {
    height: 150px;
    background-color: #002C3E;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header img {
    height: 100px;
    width: 100px;
    margin-top: 30px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    gap: 35px;
    margin-top: 35px;

}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Arial', sans-serif;
}

/* Estilo para los títulos de sección */
h2 {
    color: #3498db;
}

#servicios {
    background-color: #EBF2FA; 
    width: 100%;
}


.service-card {
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin-bottom: 20px;
    height: 100%;
}

.service-card:hover {
    transform: scale(1.05);
}

.service-card .card-title {
    font-size: 20px;
    margin-top: 10px;
}

.card img {
    max-width: 100%;
    height: auto;
    padding: 10px;
}

.service-card .card-text {
    font-size: 16px;
}


.service-card:hover {
    background-color: #f8f8f8;
}


.card img {
    width: 100%;
    height: auto;
}

.card.contact-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    margin: 10px;
}


.card.contact-card .card-body {
    padding: 20px;
}


.card.contact-card .card-img-top {
    max-height: 90px;
    object-fit: cover;
}


.card.contact-card .card-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}


.card.contact-card .card-text {
    font-size: 16px;
}

#contacto {
    background-color: #EBF2FA; 
    width: 100%;
}

#productos {
    background-color: #EBF2FA; 
    width: 100%;
}

.buscar {
    position: relative;
    padding: 5px;
}

.buscar input {
    width: 600px;
    height: 40px;
    padding: 20px;
    font-size: 18px;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
}
