#inicio-section {
    background-image: url('images/inicioArtisania.png'); /* Reemplaza con la ruta a tu imagen */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; /* Esto hará que la sección tenga la altura de la ventana del navegador */
}
.inicio-content {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;

}
.inicio-content h2 {
    color: white; /* Cambia el color del texto a negro */
    font-size: 50px;
}
footer {
    background-color: #002C3E;
    padding: 20px 0;
    color: white;
}
footer ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

footer ul li {
    text-align: center;
}

footer ul li h4 {
    margin-bottom: 15px;
}

footer a {
    color: #3498db;
    text-decoration: none;
}
footer p {
    text-align: center;
    margin-top: 20px;
}
main {
    margin-top: 150px; /* Ajusta este valor según la altura de tu encabezado */
}
header {
    height: 150px;
    background-color: #002C3E;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header img {
    height: 100px;
    width: 100px;
    margin-top: 30px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    gap: 35px;
    margin-top: 35px;

}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Arial', sans-serif;
}

/* Estilo para los títulos de sección */
h2 {
    color: #3498db;
}

#servicios {
    background-color: #EBF2FA; 
    width: 100%;
}


.service-card {
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin-bottom: 20px;
    height: 100%;
}

.service-card:hover {
    transform: scale(1.05);
}

.service-card .card-title {
    font-size: 20px;
    margin-top: 10px;
}

.card img {
    max-width: 100%;
    height: auto;
    padding: 10px;
}

.service-card .card-text {
    font-size: 16px;
}


.service-card:hover {
    background-color: #f8f8f8;
}


.card img {
    width: 100%;
    height: auto;
}
